<div class="contents row">
    <% @blogs.each do |blog| %>
      <%= render partial: "blog", locals: {blog: blog} %>
    <% end %>
      <footer class="under_line">
        <%= paginate(@blogs) %>
      </footer>
</div>
